openapi: 3.0.0
info:
  title: Paxos Account Members Tax Forms API
  version: '2.0'
  description: '<p>Welcome to Paxos APIs. At Paxos, our mission is to enable the movement of any asset, any time, in a trustworthy way. These APIs serve that mission by making it easier than ever for you to directly integrate our product capabilities into your application, leveraging the speed, stability, and security of the Paxos platform.</p> <p>The documentation that follows gives you access to our Crypto Brokerage, Trading, and Exchange products. It includes APIs for market data, orders, and the held rate quote flow.</p> <p>To test in our sandbox environment, <a href="https://account.sandbox.paxos.com" target="_blank">sign up</a> for an account. For more information about Paxos and our APIs, visit <a href="https://www.paxos.com/" target="_blank">Paxos.com</a>.</p>

    '
  x-logo:
    url: /docs/paxos.svg
    backgroundColor: '#FFFFFF'
    altText: Paxos logo
servers:
- url: https://api.paxos.com/v2
  description: Production
- url: https://api.sandbox.paxos.com/v2
  description: Sandbox
tags:
- name: Tax Forms
  description: 'All tax forms are associated to a single account_id.

    An account_id can have multiple tax forms associated with it.

    US 1099-B and 1099-Misc tax forms for the previous fiscal year will be available in February of the current calendar year.

    Previous years tax forms are also available by request.

    '
paths:
  /tax/tax-form-revisions:
    get:
      summary: List Tax Form Revisions
      description: 'Used for more granular file retrieval for specific accounts that require updated tax forms.

        Lists all versions of a tax form for single account and tax year. Revisions will increment up as new tax forms are issued for the same account, tax year, and form type pairing. The highest value revision is the most recent.

        Tax Form URL links will expire after 60 seconds.

        Supported form types: 1099-B, 1099-MISC, and 1099-DA. If form_types is not provided, defaults to 1099-B for tax years prior to 2025, and 1099-DA from 2025 onwards.'
      operationId: ListTaxFormRevisions
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTaxFormRevisionsResponse'
      parameters:
      - name: account_id
        description: Required. Account ID
        in: query
        required: true
        schema:
          type: string
      - name: tax_year
        description: Required. Tax Year
        in: query
        required: true
        schema:
          type: string
      - name: form_types
        description: Optional. Tax form types (1099-B, 1099-MISC, 1099-DA). If not provided, defaults to 1099-B for tax years prior to 2025, and 1099-DA from 2025 onwards.
        in: query
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - FORM_1099_B
            - FORM_1099_MISC
            - FORM_1099_DA
      - name: revision
        description: Revision
        in: query
        required: false
        schema:
          type: string
      tags:
      - Tax Forms
      security:
      - OAuth2:
        - tax:read_tax_form
  /tax/tax-forms:
    get:
      summary: List Tax Forms
      description: 'Used for bulk file transfer use cases.

        List tax forms for given account ids and tax year. The most recent revision number will be returned (revisions increment up; highest value revision for a specific account, tax year, and form type pairing is the most recent).

        Tax Form URL links will expire after 60 seconds.

        Please call ListTaxFormRevisions endpoint for all versions of a single accounts tax forms.

        Supported form types: 1099-B, 1099-MISC, and 1099-DA. If form_types is not provided, defaults to 1099-B for tax years prior to 2025, and 1099-DA from 2025 onwards.'
      operationId: ListTaxForms
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTaxFormsResponse'
      parameters:
      - name: account_ids
        description: Required. A list of Account IDs. Maximum 50.
        in: query
        required: true
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: tax_year
        description: Required. Tax year
        in: query
        required: true
        schema:
          type: string
      - name: form_types
        description: Optional. Tax form types (1099-B, 1099-MISC, 1099-DA). If not provided, defaults to 1099-B for tax years prior to 2025, and 1099-DA from 2025 onwards.
        in: query
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - FORM_1099_B
            - FORM_1099_MISC
            - FORM_1099_DA
      tags:
      - Tax Forms
      security:
      - OAuth2:
        - tax:read_tax_form
components:
  schemas:
    TaxFormType:
      type: string
      enum:
      - FORM_1099_B
      - FORM_1099_MISC
      - FORM_1099_DA
    TaxFormURL:
      type: object
      properties:
        account_id:
          type: string
        type:
          $ref: '#/components/schemas/TaxFormType'
        tax_year:
          type: string
        revision:
          type: string
        url:
          type: string
    ListTaxFormsResponse:
      type: object
      properties:
        tax_form_urls:
          type: array
          items:
            $ref: '#/components/schemas/TaxFormURL'
          description: List of tax form URLs. The size shall not exceed `users_limit` times `form_types`.
    ListTaxFormRevisionsResponse:
      type: object
      properties:
        tax_form_urls:
          type: array
          items:
            $ref: '#/components/schemas/TaxFormURL'
          title: List of tax form urls
  securitySchemes:
    OAuth2:
      type: oauth2
      description: 'Paxos APIs use [OAuth 2](https://tools.ietf.org/html/rfc6749) with the [client credentials](https://tools.ietf.org/html/rfc6749#section-4.4) grant flow.


        **Token URLs:**

        - Production: https://oauth.paxos.com/oauth2/token

        - Sandbox: https://oauth.sandbox.paxos.com/oauth2/token


        Learn more in the [API credentials guide →](https://docs.paxos.com/developer/credentials)

        '
      flows:
        clientCredentials:
          tokenUrl: https://oauth.paxos.com/oauth2/token
          scopes:
            conversion:read_conversion_stablecoin: Retrieve stablecoin conversion details
            conversion:write_conversion_stablecoin: Create or cancel a stablecoin conversion
            exchange:historical_prices: Retrieve marketnaverage prices at a certain time increment
            exchange:read_order: Retrieve order or order execution details
            exchange:read_quote: Retrieve quote details for buying or selling an asset
            exchange:read_quote_execution: Retrieve quote execution details
            exchange:write_quote_execution: Create a quote execution for buying or selling an asset
            exchange:write_order: Create or cancel an order for buying or selling an asset
            fee:write_crypto_withdrawal_fee: Create a guaranteed fee for crypto withdrawal
            funding:read_bank_balance: Retrieve Paxos dedicated bank account balance
            funding:read_profile: Retrieve Profile details and deposit funds in Sandbox
            funding:write_profile: Create a Profile
            identity:read_account: Retrieve Account details
            identity:read_identity: Retrieve Identity details or documents
            identity:write_account: Create or update Account and Account Members
            identity:write_identity: Create or update Identity details and set Sandbox Identify Status
            settlement:read_transaction: Retrieve settlement transaction details
            settlement:write_transaction: Create, affirm or cancel a settlement transaction
            tax:read_tax_form: Retrieve tax details
            tax:read_tax_lot: Retrieve tax lot details
            tax:write_tax_lot: Update the given tax-lot ID
            transfer:read_deposit_address: Retrieve deposit address details
            transfer:read_fiat_account: Retrieve Fiat Account details
            transfer:read_fiat_deposit_instructions: Retrieve fiat deposit instruction details
            transfer:read_transfer: Retrieve transfer details
            transfer:read_transfer_limit: Retrieve limits for the given transaction type
            transfer:reject_crypto_deposit: Reject a crypto deposit (travel rule)
            transfer:update_crypto_deposit: Provide required travel-rule details
            transfer:write_crypto_withdrawal: Withdraw asset to a specified destination address
            transfer:write_deposit_address: Create an deposit address on a blockchain network
            transfer:write_fiat_account: Create, update or delete a Fiat Account
            transfer:write_fiat_deposit_instructions: Create, update or delete fiat deposit instructions
            transfer:write_internal_transfer: Transfer assets between two Profiles
            transfer:write_sandbox_fiat_deposit: Initiate a test fiat deposit in the Sandbox environment
            transfer:write_fiat_withdrawal: Withdraw fiat to the given destination
            events:read_event: Retrieve events
x-tagGroups:
- name: Deposits and Withdrawals
  tags:
  - Transfers
  - Fiat Transfers
  - Deposit Addresses
  - Crypto Deposits
  - Crypto Withdrawals
  - Fees
  - Internal Transfers
  - Paxos Transfers
  - Limits
- name: Identity
  tags:
  - Identity
  - Institution Members
  - Accounts
  - Account Members
  - Identity Documents
- name: API Credentials
  tags:
  - API Credentials
- name: Profiles
  tags:
  - Profiles
- name: Sandbox
  tags:
  - Sandbox Deposits
  - Sandbox Identity
  - Sandbox Fiat Transfers
- name: Settlements
  tags:
  - Settlement
- name: Stablecoin Conversion
  tags:
  - Stablecoin Conversion
- name: Taxes
  tags:
  - Tax Forms
- name: Trading
  tags:
  - Market Data
  - Orders
  - Quotes
  - Quote Executions
  - Pricing
  - Issuer Quotes
- name: Rewards
  tags:
  - Monitoring Addresses
  - Statements
  - Payments
- name: Rewards (Alpha)
  tags:
  - Reward Addresses
  - Claims
  - Payout Groups
  - Rewards
- name: Events
  tags:
  - Events
  - Event Types
  - Event Objects
