openapi: 3.0.0
info:
  title: Paxos Account Members Payments API
  version: '2.0'
  description: '<p>Welcome to Paxos APIs. At Paxos, our mission is to enable the movement of any asset, any time, in a trustworthy way. These APIs serve that mission by making it easier than ever for you to directly integrate our product capabilities into your application, leveraging the speed, stability, and security of the Paxos platform.</p> <p>The documentation that follows gives you access to our Crypto Brokerage, Trading, and Exchange products. It includes APIs for market data, orders, and the held rate quote flow.</p> <p>To test in our sandbox environment, <a href="https://account.sandbox.paxos.com" target="_blank">sign up</a> for an account. For more information about Paxos and our APIs, visit <a href="https://www.paxos.com/" target="_blank">Paxos.com</a>.</p>

    '
  x-logo:
    url: /docs/paxos.svg
    backgroundColor: '#FFFFFF'
    altText: Paxos logo
servers:
- url: https://api.paxos.com/v2
  description: Production
- url: https://api.sandbox.paxos.com/v2
  description: Sandbox
tags:
- name: Payments
  description: "Payments represent actual transfers of rewards to the payout address associated with a given statement. Payments are made on-chain to a specified payout address. Payments tie 1:1 with a statement amount.\n\nUse the `ref_id` to link payments to statements. \n\n> Some fields (e.g., `account_id`, `profile_id`) are populated for consistency but are not relevant to reward-specific flows.\n\n*These endpoints are only relevant for Global Dollar Network (GDN) partners.*\n"
paths:
  /statements/payments:
    get:
      summary: List Payments
      description: List payments based on the provided filters
      operationId: ListPayments
      responses:
        '200':
          description: Successfully retrieve payments
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPaymentsResponse'
              examples:
                Retrieve payments:
                  value:
                    payments:
                    - id: 08ae7260-0967-44e4-b2e3-e9c837a3de69
                      customer_id: cdcbff8e-cf51-4536-ba6f-92ef6846e48a
                      profile_id: 00000000-0000-0000-0000-000000000000
                      account_id: 00000000-0000-0000-0000-000000000000
                      ref_id: cdcbff8e-cf51-4536-ba6f-92ef6846e48a-USDG_REWARDS-cdcbff8e-cf51-4536-ba6f-92ef6846e48a-2025-02-USDG-100.5-seq#1
                      product: USDG_REWARDS
                      payment_type: PAYMENT_TYPE_CRYPTO_WITHDRAWAL
                      payment_destination: f45b7f18-a10d-4e19-bea2-9aa91cab6b69
                      payment_asset: USDG
                      payment_amount: '100.5'
                      payment_status: PAYMENT_STATUS_COMPLETED
                      created_at: '2025-03-19T14:00:45.589886Z'
                      processed_at: '2025-03-19T19:21:57.172302Z'
                    - id: b05683f7-28ac-43fa-8ed8-b332cf28051e
                      customer_id: cdcbff8e-cf51-4536-ba6f-92ef6846e48a
                      profile_id: 00000000-0000-0000-0000-000000000000
                      account_id: 00000000-0000-0000-0000-000000000000
                      ref_id: cdcbff8e-cf51-4536-ba6f-92ef6846e48a-USDG_REWARDS-cdcbff8e-cf51-4536-ba6f-92ef6846e48a-2025-03-USDG-100.5-seq#1
                      product: USDG_REWARDS
                      payment_type: PAYMENT_TYPE_CRYPTO_WITHDRAWAL
                      payment_destination: f45b7f18-a10d-4e19-bea2-9aa91cab6b69
                      payment_asset: USDG
                      payment_amount: '100.5'
                      payment_status: PAYMENT_STATUS_COMPLETED
                      created_at: '2025-03-18T19:26:54.298637Z'
                      processed_at: '2025-03-20T14:26:06.649645Z'
                    next_page_cursor: CgwI-Pr1vgYQyLLpswESJDM2NGU2MTgyLTRhZjctNDg4NC1iY2MxLTM0MThmNTA0MWYzYg
      parameters:
      - name: ref_ids
        description: No other parameters are allowed if ref_ids are provided
        in: query
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: payment_ids
        description: No other parameters are allowed if payment_ids are provided
        in: query
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: customer_id
        description: Use together with product to list for a specific customer and product
        in: query
        required: false
        schema:
          type: string
      - name: product
        description: Use together with product to list for a specific customer and product
        in: query
        required: false
        schema:
          type: string
          enum:
          - USDG_REWARDS
      - name: payment_status
        description: Optional, filter by payment status
        in: query
        required: false
        schema:
          type: string
          enum:
          - PAYMENT_STATUS_PENDING
          - PAYMENT_STATUS_COMPLETED
          - PAYMENT_STATUS_FAILED
      - name: limit
        description: Number of results to return. Defaults to 100 if no limit is provided.
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: order
        description: Sort order for the results by created at, defaults to DESC if not provided.
        in: query
        required: false
        schema:
          type: string
          enum:
          - DESC
          - ASC
      - name: page_cursor
        description: Cursor for getting the next page of results.
        in: query
        required: false
        schema:
          type: string
      tags:
      - Payments
      deprecated: true
      security:
      - OAuth2:
        - statements:read_payment
components:
  schemas:
    Payment:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the payment.
        customer_id:
          type: string
          description: UUID of the customer.
        profile_id:
          type: string
          title: Optional, can be specified if payment is at profile level
        account_id:
          type: string
          title: Optional, can be specified if payment is at account level
        ref_id:
          type: string
          description: Statement reference string this payment resolves.
        product:
          $ref: '#/components/schemas/Product'
        payment_type:
          $ref: '#/components/schemas/PaymentType'
        payment_source:
          type: string
          title: Payment source does not have information for USDG reward payments
        payment_destination:
          type: string
          description: UUID of the payout address used.
        payment_asset:
          type: string
          description: Should be `USDG`.
        payment_amount:
          type: string
          format: decimal
          description: Total amount paid.
        payment_status:
          $ref: '#/components/schemas/PaymentStatus'
        payment_tx_id:
          type: string
          description: The transaction id returned by the internal service which processes the payment requested.
        description:
          type: string
          title: Description of the payment, will show in the payment dashboard (TBD)
        metadata:
          type: string
          description: Metadata associated with the payment, for client usage or future expansion.
        created_at:
          type: string
          format: date-time
          description: Lifecycle field for tracking transfer status.
        processed_at:
          type: string
          format: date-time
          description: Lifecycle field for tracking transfer status.
    Product:
      type: string
      enum:
      - USDG_REWARDS
    ListPaymentsResponse:
      type: object
      properties:
        payments:
          type: array
          items:
            $ref: '#/components/schemas/Payment'
        next_page_cursor:
          type: string
    PaymentType:
      type: string
      enum:
      - PAYMENT_TYPE_CRYPTO_WITHDRAWAL
      title: 'Payment types supported by payment service

        Crypto Withdrawal: Withdrawal of crypto assets'
    PaymentStatus:
      type: string
      enum:
      - PAYMENT_STATUS_PENDING
      - PAYMENT_STATUS_COMPLETED
      - PAYMENT_STATUS_FAILED
  securitySchemes:
    OAuth2:
      type: oauth2
      description: 'Paxos APIs use [OAuth 2](https://tools.ietf.org/html/rfc6749) with the [client credentials](https://tools.ietf.org/html/rfc6749#section-4.4) grant flow.


        **Token URLs:**

        - Production: https://oauth.paxos.com/oauth2/token

        - Sandbox: https://oauth.sandbox.paxos.com/oauth2/token


        Learn more in the [API credentials guide →](https://docs.paxos.com/developer/credentials)

        '
      flows:
        clientCredentials:
          tokenUrl: https://oauth.paxos.com/oauth2/token
          scopes:
            conversion:read_conversion_stablecoin: Retrieve stablecoin conversion details
            conversion:write_conversion_stablecoin: Create or cancel a stablecoin conversion
            exchange:historical_prices: Retrieve marketnaverage prices at a certain time increment
            exchange:read_order: Retrieve order or order execution details
            exchange:read_quote: Retrieve quote details for buying or selling an asset
            exchange:read_quote_execution: Retrieve quote execution details
            exchange:write_quote_execution: Create a quote execution for buying or selling an asset
            exchange:write_order: Create or cancel an order for buying or selling an asset
            fee:write_crypto_withdrawal_fee: Create a guaranteed fee for crypto withdrawal
            funding:read_bank_balance: Retrieve Paxos dedicated bank account balance
            funding:read_profile: Retrieve Profile details and deposit funds in Sandbox
            funding:write_profile: Create a Profile
            identity:read_account: Retrieve Account details
            identity:read_identity: Retrieve Identity details or documents
            identity:write_account: Create or update Account and Account Members
            identity:write_identity: Create or update Identity details and set Sandbox Identify Status
            settlement:read_transaction: Retrieve settlement transaction details
            settlement:write_transaction: Create, affirm or cancel a settlement transaction
            tax:read_tax_form: Retrieve tax details
            tax:read_tax_lot: Retrieve tax lot details
            tax:write_tax_lot: Update the given tax-lot ID
            transfer:read_deposit_address: Retrieve deposit address details
            transfer:read_fiat_account: Retrieve Fiat Account details
            transfer:read_fiat_deposit_instructions: Retrieve fiat deposit instruction details
            transfer:read_transfer: Retrieve transfer details
            transfer:read_transfer_limit: Retrieve limits for the given transaction type
            transfer:reject_crypto_deposit: Reject a crypto deposit (travel rule)
            transfer:update_crypto_deposit: Provide required travel-rule details
            transfer:write_crypto_withdrawal: Withdraw asset to a specified destination address
            transfer:write_deposit_address: Create an deposit address on a blockchain network
            transfer:write_fiat_account: Create, update or delete a Fiat Account
            transfer:write_fiat_deposit_instructions: Create, update or delete fiat deposit instructions
            transfer:write_internal_transfer: Transfer assets between two Profiles
            transfer:write_sandbox_fiat_deposit: Initiate a test fiat deposit in the Sandbox environment
            transfer:write_fiat_withdrawal: Withdraw fiat to the given destination
            events:read_event: Retrieve events
x-tagGroups:
- name: Deposits and Withdrawals
  tags:
  - Transfers
  - Fiat Transfers
  - Deposit Addresses
  - Crypto Deposits
  - Crypto Withdrawals
  - Fees
  - Internal Transfers
  - Paxos Transfers
  - Limits
- name: Identity
  tags:
  - Identity
  - Institution Members
  - Accounts
  - Account Members
  - Identity Documents
- name: API Credentials
  tags:
  - API Credentials
- name: Profiles
  tags:
  - Profiles
- name: Sandbox
  tags:
  - Sandbox Deposits
  - Sandbox Identity
  - Sandbox Fiat Transfers
- name: Settlements
  tags:
  - Settlement
- name: Stablecoin Conversion
  tags:
  - Stablecoin Conversion
- name: Taxes
  tags:
  - Tax Forms
- name: Trading
  tags:
  - Market Data
  - Orders
  - Quotes
  - Quote Executions
  - Pricing
  - Issuer Quotes
- name: Rewards
  tags:
  - Monitoring Addresses
  - Statements
  - Payments
- name: Rewards (Alpha)
  tags:
  - Reward Addresses
  - Claims
  - Payout Groups
  - Rewards
- name: Events
  tags:
  - Events
  - Event Types
  - Event Objects
