openapi: 3.0.0
info:
  title: Paxos Account Members Fees API
  version: '2.0'
  description: '<p>Welcome to Paxos APIs. At Paxos, our mission is to enable the movement of any asset, any time, in a trustworthy way. These APIs serve that mission by making it easier than ever for you to directly integrate our product capabilities into your application, leveraging the speed, stability, and security of the Paxos platform.</p> <p>The documentation that follows gives you access to our Crypto Brokerage, Trading, and Exchange products. It includes APIs for market data, orders, and the held rate quote flow.</p> <p>To test in our sandbox environment, <a href="https://account.sandbox.paxos.com" target="_blank">sign up</a> for an account. For more information about Paxos and our APIs, visit <a href="https://www.paxos.com/" target="_blank">Paxos.com</a>.</p>

    '
  x-logo:
    url: /docs/paxos.svg
    backgroundColor: '#FFFFFF'
    altText: Paxos logo
servers:
- url: https://api.paxos.com/v2
  description: Production
- url: https://api.sandbox.paxos.com/v2
  description: Sandbox
tags:
- name: Fees
paths:
  /transfer/fees/crypto-withdrawal:
    post:
      summary: Create Crypto Withdrawal Fee
      description: 'Get a guaranteed fee for the given currency, valid for a period of time.

        Specify exactly one of `amount` or `total`, otherwise an error is returned.


        The [Create Crypto Withdrawal](#operation/CreateCryptoWithdrawal) request that uses the guaranteed fee endpoint

        must specify an `amount` less than or equal to the guaranteed fee `amount`, otherwise the withdrawal is rejected.'
      operationId: CreateCryptoWithdrawalFee
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CryptoWithdrawalFee'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCryptoWithdrawalFeeRequest'
        required: true
      tags:
      - Fees
      security:
      - OAuth2:
        - fee:write_crypto_withdrawal_fee
components:
  schemas:
    CryptoWithdrawalFee:
      type: object
      example:
        id: 34bd61ed-cf0a-4012-8be4-d347667b6154
        fee: '0.00005'
        asset: ETH
        amount: '0.001'
        expires_at: '2021-02-10T23:00:00Z'
        destination_address: '0xF0Aa84466e353E5390be37FE2934301c07c19a55'
        crypto_network: ETHEREUM
      properties:
        id:
          type: string
          description: The id of the guaranteed fee.
        fee:
          type: string
          description: The guaranteed fee value, in the same currency.
          pattern: ^[0-9]*\.?[0-9]+$
        asset:
          type: string
          description: The currency to withdraw.
        expires_at:
          type: string
          format: date-time
          description: The expiration timestamp of the created fee.
        destination_address:
          type: string
          description: The destination address.
        crypto_network:
          $ref: '#/components/schemas/CryptoNetwork'
        amount:
          type: string
          description: 'The quoted amount to withdraw for which the fee is valid.

            Specify exactly one of `amount` or `total`, otherwise an error is returned.'
          pattern: ^[0-9]*\.?[0-9]+$
        total:
          type: string
          description: 'Total amount to withdraw, including fees.

            Specify exactly one of `amount` or `total`, otherwise an error is returned.'
          pattern: ^[0-9]*\.?[0-9]+$
      required:
      - id
      - fee
      - asset
      - expires_at
      - destination_address
      - crypto_network
    CryptoNetwork:
      type: string
      enum:
      - BITCOIN
      - ETHEREUM
      - BITCOIN_CASH
      - LITECOIN
      - SOLANA
      - POLYGON_POS
      - BASE
      - ARBITRUM_ONE
      - STELLAR
      - INK
      - XLAYER
      - AVALANCHE
      - DOGECOIN
      - SUI
      - ROBINHOOD
      - BNB
      description: A CryptoNetwork is a blockchain transmitting cryptocurrencies.
    CreateCryptoWithdrawalFeeRequest:
      type: object
      example:
        asset: ETH
        amount: '0.00005'
        destination_address: '0xF0Aa84466e353E5390be37FE2934301c07c19a55'
        crypto_network: ETHEREUM
      properties:
        asset:
          type: string
          description: The currency to withdraw.
        destination_address:
          type: string
          description: The destination address.
        crypto_network:
          $ref: '#/components/schemas/CryptoNetwork'
        amount:
          type: string
          description: 'The amount to withdraw. Must be greater than `0`.

            Specify exactly one of `amount` or `total`, otherwise an error is returned.'
          pattern: ^[0-9]*\.?[0-9]+$
        total:
          type: string
          description: 'Total amount to withdraw, including fees. Must be greater than `0`.

            Specify exactly one of `total ` or `amount`, otherwise an error is returned.'
          pattern: ^[0-9]*\.?[0-9]+$
      required:
      - asset
      - destination_address
      - crypto_network
  securitySchemes:
    OAuth2:
      type: oauth2
      description: 'Paxos APIs use [OAuth 2](https://tools.ietf.org/html/rfc6749) with the [client credentials](https://tools.ietf.org/html/rfc6749#section-4.4) grant flow.


        **Token URLs:**

        - Production: https://oauth.paxos.com/oauth2/token

        - Sandbox: https://oauth.sandbox.paxos.com/oauth2/token


        Learn more in the [API credentials guide →](https://docs.paxos.com/developer/credentials)

        '
      flows:
        clientCredentials:
          tokenUrl: https://oauth.paxos.com/oauth2/token
          scopes:
            conversion:read_conversion_stablecoin: Retrieve stablecoin conversion details
            conversion:write_conversion_stablecoin: Create or cancel a stablecoin conversion
            exchange:historical_prices: Retrieve marketnaverage prices at a certain time increment
            exchange:read_order: Retrieve order or order execution details
            exchange:read_quote: Retrieve quote details for buying or selling an asset
            exchange:read_quote_execution: Retrieve quote execution details
            exchange:write_quote_execution: Create a quote execution for buying or selling an asset
            exchange:write_order: Create or cancel an order for buying or selling an asset
            fee:write_crypto_withdrawal_fee: Create a guaranteed fee for crypto withdrawal
            funding:read_bank_balance: Retrieve Paxos dedicated bank account balance
            funding:read_profile: Retrieve Profile details and deposit funds in Sandbox
            funding:write_profile: Create a Profile
            identity:read_account: Retrieve Account details
            identity:read_identity: Retrieve Identity details or documents
            identity:write_account: Create or update Account and Account Members
            identity:write_identity: Create or update Identity details and set Sandbox Identify Status
            settlement:read_transaction: Retrieve settlement transaction details
            settlement:write_transaction: Create, affirm or cancel a settlement transaction
            tax:read_tax_form: Retrieve tax details
            tax:read_tax_lot: Retrieve tax lot details
            tax:write_tax_lot: Update the given tax-lot ID
            transfer:read_deposit_address: Retrieve deposit address details
            transfer:read_fiat_account: Retrieve Fiat Account details
            transfer:read_fiat_deposit_instructions: Retrieve fiat deposit instruction details
            transfer:read_transfer: Retrieve transfer details
            transfer:read_transfer_limit: Retrieve limits for the given transaction type
            transfer:reject_crypto_deposit: Reject a crypto deposit (travel rule)
            transfer:update_crypto_deposit: Provide required travel-rule details
            transfer:write_crypto_withdrawal: Withdraw asset to a specified destination address
            transfer:write_deposit_address: Create an deposit address on a blockchain network
            transfer:write_fiat_account: Create, update or delete a Fiat Account
            transfer:write_fiat_deposit_instructions: Create, update or delete fiat deposit instructions
            transfer:write_internal_transfer: Transfer assets between two Profiles
            transfer:write_sandbox_fiat_deposit: Initiate a test fiat deposit in the Sandbox environment
            transfer:write_fiat_withdrawal: Withdraw fiat to the given destination
            events:read_event: Retrieve events
x-tagGroups:
- name: Deposits and Withdrawals
  tags:
  - Transfers
  - Fiat Transfers
  - Deposit Addresses
  - Crypto Deposits
  - Crypto Withdrawals
  - Fees
  - Internal Transfers
  - Paxos Transfers
  - Limits
- name: Identity
  tags:
  - Identity
  - Institution Members
  - Accounts
  - Account Members
  - Identity Documents
- name: API Credentials
  tags:
  - API Credentials
- name: Profiles
  tags:
  - Profiles
- name: Sandbox
  tags:
  - Sandbox Deposits
  - Sandbox Identity
  - Sandbox Fiat Transfers
- name: Settlements
  tags:
  - Settlement
- name: Stablecoin Conversion
  tags:
  - Stablecoin Conversion
- name: Taxes
  tags:
  - Tax Forms
- name: Trading
  tags:
  - Market Data
  - Orders
  - Quotes
  - Quote Executions
  - Pricing
  - Issuer Quotes
- name: Rewards
  tags:
  - Monitoring Addresses
  - Statements
  - Payments
- name: Rewards (Alpha)
  tags:
  - Reward Addresses
  - Claims
  - Payout Groups
  - Rewards
- name: Events
  tags:
  - Events
  - Event Types
  - Event Objects
