openapi: 3.0.0
info:
  title: Paxos Account Members Sandbox Fiat Transfers API
  version: '2.0'
  description: '<p>Welcome to Paxos APIs. At Paxos, our mission is to enable the movement of any asset, any time, in a trustworthy way. These APIs serve that mission by making it easier than ever for you to directly integrate our product capabilities into your application, leveraging the speed, stability, and security of the Paxos platform.</p> <p>The documentation that follows gives you access to our Crypto Brokerage, Trading, and Exchange products. It includes APIs for market data, orders, and the held rate quote flow.</p> <p>To test in our sandbox environment, <a href="https://account.sandbox.paxos.com" target="_blank">sign up</a> for an account. For more information about Paxos and our APIs, visit <a href="https://www.paxos.com/" target="_blank">Paxos.com</a>.</p>

    '
  x-logo:
    url: /docs/paxos.svg
    backgroundColor: '#FFFFFF'
    altText: Paxos logo
servers:
- url: https://api.paxos.com/v2
  description: Production
- url: https://api.sandbox.paxos.com/v2
  description: Sandbox
tags:
- name: Sandbox Fiat Transfers
paths:
  /sandbox/fiat-deposits:
    post:
      summary: Initiate Sandbox Fiat Deposit
      description: 'Initiate a test fiat deposit in the sandbox environment.


        The deposit will be processed based on `memo_id` from a previous Fiat Deposit Instructions response.


        *This functionality is only available in the sandbox environment.*'
      operationId: InitiateSandboxFiatDeposit
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InitiateSandboxFiatDepositResponse'
              example: {}
        '400':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              example:
                type: about:blank
                title: Bad Request
                status: 400
                detail: fiat network instructions required
          description: Bad Request
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InitiateSandboxFiatDepositRequest'
            example:
              amount: '10.00'
              asset: USD
              memo_id: 3CFXQSCMSPLFHXLZ
              fiat_network_instructions:
                wire:
                  account_number: '12345678'
                  fiat_account_owner_address:
                    country: USA
                    address1: 456 Main Street, NY
                    city: New York
                    province: NY
                    address2: ''
                    zip_code: '10101'
                  routing_details:
                    routing_number_type: ABA
                    routing_number: '123456789'
                    bank_name: Customers Bank
                    bank_address:
                      country: USA
                      address1: 123 Bank Street
                      city: New York
                      province: NY
                      address2: ''
                      zip_code: '10101'
              fiat_account_owner:
                institution_details:
                  name: SomeCorp, Inc.
        required: true
      tags:
      - Sandbox Fiat Transfers
      security:
      - OAuth2:
        - transfer:write_sandbox_fiat_deposit
components:
  schemas:
    Problem:
      type: object
      properties:
        type:
          type: string
          format: uri
          description: 'An absolute URI that identifies the problem type.  When dereferenced,

            it SHOULD provide human-readable documentation for the problem type

            (e.g., using HTML).

            '
          default: about:blank
          example: https://api.paxos.com/v2/problems/insufficient_funds
        title:
          type: string
          description: 'A short, summary of the problem type. Written in english and readable

            for engineers (usually not suited for non technical stakeholders and

            not localized); example: Service Unavailable

            '
          example: Insufficient Funds
        status:
          type: integer
          format: int32
          description: 'The HTTP status code generated by the origin server for this occurrence

            of the problem.

            '
          minimum: 100
          maximum: 600
          exclusiveMaximum: true
          example: 403
        detail:
          type: string
          description: 'A human readable explanation specific to this occurrence of the

            problem.

            '
          example: Not enough funds in account.
        meta:
          type: object
          description: 'Additional structured metadata about the error.

            '
    FiatAccountOwnerPersonDetails:
      type: object
      properties:
        first_name:
          type: string
        last_name:
          type: string
      required:
      - first_name
      - last_name
    FiatNetworkInstructionsCubix:
      type: object
      properties:
        account_id:
          type: string
          description: The uuid account id of the CUBIX account.
      required:
      - account_id
    FiatNetworkInstructionsWireRoutingDetails:
      type: object
      properties:
        routing_number_type:
          $ref: '#/components/schemas/FiatWireAccountType'
        routing_number:
          type: string
          description: The routing number.
        bank_name:
          type: string
          description: The name of the bank.
        bank_address:
          $ref: '#/components/schemas/MailingAddress'
      required:
      - routing_number_type
      - routing_number
      - bank_name
      - bank_address
    FiatNetworkInstructionsRtp:
      type: object
      properties:
        account_number:
          type: string
          description: The FiatAccount owner's bank account number.
        fiat_account_owner_address:
          $ref: '#/components/schemas/MailingAddress'
        routing_details:
          $ref: '#/components/schemas/FiatNetworkInstructionsRtpRoutingDetails'
      required:
      - account_number
      - routing_details
    FiatAccountOwnerInstitutionDetails:
      type: object
      properties:
        name:
          type: string
      required:
      - name
    MailingAddress:
      type: object
      properties:
        country:
          type: string
          maxLength: 35
          pattern: ^[0-9A-Za-z /?:().,&'+-]+$
        address1:
          type: string
          maxLength: 35
          pattern: ^[0-9A-Za-z /?:().,&'+-]+$
        address2:
          type: string
          maxLength: 35
          pattern: ^[0-9A-Za-z /?:().,&'+-]+$
        city:
          type: string
          maxLength: 35
          pattern: ^[0-9A-Za-z /?:().,&'+-]+$
        province:
          type: string
          maxLength: 35
          pattern: ^[0-9A-Za-z /?:().,&'+-]+$
        zip_code:
          type: string
          maxLength: 35
          pattern: ^[0-9A-Za-z /?:().,&'+-]+$
      description: A mailing address.
      required:
      - country
    InitiateSandboxFiatDepositRequest:
      type: object
      properties:
        amount:
          type: string
          description: The amount to deposit.
          pattern: ^[0-9]*\.?[0-9]{1,2}$
        asset:
          type: string
          description: 'The asset to deposit. Current supported asset: "USD".'
        memo_id:
          type: string
          description: The string that the client must provide in the memo field on their deposit to credit their Paxos platform balance.
        fiat_network_instructions:
          $ref: '#/components/schemas/FiatNetworkInstructions'
        fiat_account_owner:
          $ref: '#/components/schemas/FiatAccountOwner'
      required:
      - amount
      - asset
      - memo_id
      - fiat_network_instructions
    FiatNetworkInstructionsScb:
      type: object
      properties:
        account_number:
          type: string
          description: The account number of the StandChart account.
      required:
      - account_number
    FiatNetworkInstructionsWire:
      type: object
      properties:
        account_number:
          type: string
          description: The FiatAccount owner's bank account number.
        fiat_account_owner_address:
          $ref: '#/components/schemas/MailingAddress'
        routing_details:
          $ref: '#/components/schemas/FiatNetworkInstructionsWireRoutingDetails'
        intermediary_routing_details:
          $ref: '#/components/schemas/FiatNetworkInstructionsWireRoutingDetails'
      required:
      - account_number
      - fiat_account_owner_address
      - routing_details
    InitiateSandboxFiatDepositResponse:
      type: object
    FiatNetworkInstructionsRtpRoutingDetails:
      type: object
      properties:
        routing_number:
          type: string
          description: The routing number.
        bank_name:
          type: string
          description: The name of the bank.
        bank_address:
          $ref: '#/components/schemas/MailingAddress'
      required:
      - routing_number
    FiatNetworkInstructionsDbsAct:
      type: object
      properties:
        account_number:
          type: string
          description: The account number of the DBS account.
      required:
      - account_number
    FiatAccountOwner:
      type: object
      properties:
        person_details:
          $ref: '#/components/schemas/FiatAccountOwnerPersonDetails'
        institution_details:
          $ref: '#/components/schemas/FiatAccountOwnerInstitutionDetails'
    FiatNetworkInstructions:
      type: object
      properties:
        wire:
          $ref: '#/components/schemas/FiatNetworkInstructionsWire'
        cbit:
          $ref: '#/components/schemas/FiatNetworkInstructionsCbit'
        dbs_act:
          $ref: '#/components/schemas/FiatNetworkInstructionsDbsAct'
        cubix:
          $ref: '#/components/schemas/FiatNetworkInstructionsCubix'
        scb:
          $ref: '#/components/schemas/FiatNetworkInstructionsScb'
        rtp:
          $ref: '#/components/schemas/FiatNetworkInstructionsRtp'
    FiatWireAccountType:
      type: string
      enum:
      - ABA
      - SWIFT
    FiatNetworkInstructionsCbit:
      type: object
      properties:
        wallet_address:
          type: string
          description: The wallet address of the CBIT account.
      required:
      - wallet_address
  securitySchemes:
    OAuth2:
      type: oauth2
      description: 'Paxos APIs use [OAuth 2](https://tools.ietf.org/html/rfc6749) with the [client credentials](https://tools.ietf.org/html/rfc6749#section-4.4) grant flow.


        **Token URLs:**

        - Production: https://oauth.paxos.com/oauth2/token

        - Sandbox: https://oauth.sandbox.paxos.com/oauth2/token


        Learn more in the [API credentials guide →](https://docs.paxos.com/developer/credentials)

        '
      flows:
        clientCredentials:
          tokenUrl: https://oauth.paxos.com/oauth2/token
          scopes:
            conversion:read_conversion_stablecoin: Retrieve stablecoin conversion details
            conversion:write_conversion_stablecoin: Create or cancel a stablecoin conversion
            exchange:historical_prices: Retrieve marketnaverage prices at a certain time increment
            exchange:read_order: Retrieve order or order execution details
            exchange:read_quote: Retrieve quote details for buying or selling an asset
            exchange:read_quote_execution: Retrieve quote execution details
            exchange:write_quote_execution: Create a quote execution for buying or selling an asset
            exchange:write_order: Create or cancel an order for buying or selling an asset
            fee:write_crypto_withdrawal_fee: Create a guaranteed fee for crypto withdrawal
            funding:read_bank_balance: Retrieve Paxos dedicated bank account balance
            funding:read_profile: Retrieve Profile details and deposit funds in Sandbox
            funding:write_profile: Create a Profile
            identity:read_account: Retrieve Account details
            identity:read_identity: Retrieve Identity details or documents
            identity:write_account: Create or update Account and Account Members
            identity:write_identity: Create or update Identity details and set Sandbox Identify Status
            settlement:read_transaction: Retrieve settlement transaction details
            settlement:write_transaction: Create, affirm or cancel a settlement transaction
            tax:read_tax_form: Retrieve tax details
            tax:read_tax_lot: Retrieve tax lot details
            tax:write_tax_lot: Update the given tax-lot ID
            transfer:read_deposit_address: Retrieve deposit address details
            transfer:read_fiat_account: Retrieve Fiat Account details
            transfer:read_fiat_deposit_instructions: Retrieve fiat deposit instruction details
            transfer:read_transfer: Retrieve transfer details
            transfer:read_transfer_limit: Retrieve limits for the given transaction type
            transfer:reject_crypto_deposit: Reject a crypto deposit (travel rule)
            transfer:update_crypto_deposit: Provide required travel-rule details
            transfer:write_crypto_withdrawal: Withdraw asset to a specified destination address
            transfer:write_deposit_address: Create an deposit address on a blockchain network
            transfer:write_fiat_account: Create, update or delete a Fiat Account
            transfer:write_fiat_deposit_instructions: Create, update or delete fiat deposit instructions
            transfer:write_internal_transfer: Transfer assets between two Profiles
            transfer:write_sandbox_fiat_deposit: Initiate a test fiat deposit in the Sandbox environment
            transfer:write_fiat_withdrawal: Withdraw fiat to the given destination
            events:read_event: Retrieve events
x-tagGroups:
- name: Deposits and Withdrawals
  tags:
  - Transfers
  - Fiat Transfers
  - Deposit Addresses
  - Crypto Deposits
  - Crypto Withdrawals
  - Fees
  - Internal Transfers
  - Paxos Transfers
  - Limits
- name: Identity
  tags:
  - Identity
  - Institution Members
  - Accounts
  - Account Members
  - Identity Documents
- name: API Credentials
  tags:
  - API Credentials
- name: Profiles
  tags:
  - Profiles
- name: Sandbox
  tags:
  - Sandbox Deposits
  - Sandbox Identity
  - Sandbox Fiat Transfers
- name: Settlements
  tags:
  - Settlement
- name: Stablecoin Conversion
  tags:
  - Stablecoin Conversion
- name: Taxes
  tags:
  - Tax Forms
- name: Trading
  tags:
  - Market Data
  - Orders
  - Quotes
  - Quote Executions
  - Pricing
  - Issuer Quotes
- name: Rewards
  tags:
  - Monitoring Addresses
  - Statements
  - Payments
- name: Rewards (Alpha)
  tags:
  - Reward Addresses
  - Claims
  - Payout Groups
  - Rewards
- name: Events
  tags:
  - Events
  - Event Types
  - Event Objects
