openapi: 3.0.0
info:
  title: Paxos Account Members TravelRulePublic API
  version: '2.0'
  description: '<p>Welcome to Paxos APIs. At Paxos, our mission is to enable the movement of any asset, any time, in a trustworthy way. These APIs serve that mission by making it easier than ever for you to directly integrate our product capabilities into your application, leveraging the speed, stability, and security of the Paxos platform.</p> <p>The documentation that follows gives you access to our Crypto Brokerage, Trading, and Exchange products. It includes APIs for market data, orders, and the held rate quote flow.</p> <p>To test in our sandbox environment, <a href="https://account.sandbox.paxos.com" target="_blank">sign up</a> for an account. For more information about Paxos and our APIs, visit <a href="https://www.paxos.com/" target="_blank">Paxos.com</a>.</p>

    '
  x-logo:
    url: /docs/paxos.svg
    backgroundColor: '#FFFFFF'
    altText: Paxos logo
servers:
- url: https://api.paxos.com/v2
  description: Production
- url: https://api.sandbox.paxos.com/v2
  description: Sandbox
tags:
- name: TravelRulePublic
paths:
  /travelrule/vasps:
    get:
      operationId: ListVasps
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListVaspsResponse'
              examples:
                response:
                  value:
                    items:
                    - id: 8e4b1c2d-9a3f-4e6b-b1d7-2c5a8f0e3b94
                      name: OKX
                    - id: 3d9a7c61-5e2b-48f0-9c4a-1b6e7d2f8a05
                      name: Robinhood (US)
                    next_page_cursor: Cg5Sb2Jpbmhvb2QgKFVTKQ
      parameters:
      - name: ids
        description: Optionally filter by the vasps' IDs.
        in: query
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: limit
        description: Number of results to return. Defaults to 100 if no limit is provided.
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: order
        description: Determines whether the items are returned in ascending (ASC), or descending (DESC) order.
        in: query
        required: false
        schema:
          type: string
          enum:
          - DESC
          - ASC
      - name: order_by
        description: The specific method by which the returned results will be ordered.
        in: query
        required: false
        schema:
          type: string
          enum:
          - NAME
      - name: page_cursor
        description: 'Optional: Cursor for getting the next page of results. When the number of items returned is fewer

          than the limit, there is currently no next page.'
        in: query
        required: false
        schema:
          type: string
      - name: search
        description: 'Optional: case-insensitive prefix match on the VASP name, for type-ahead lookup.'
        in: query
        required: false
        schema:
          type: string
      tags:
      - TravelRulePublic
      security:
      - OAuth2: []
  /travelrule/vasps/{id}:
    get:
      operationId: GetVasp
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetVaspResponse'
              examples:
                response:
                  value:
                    vasp:
                      id: 8e4b1c2d-9a3f-4e6b-b1d7-2c5a8f0e3b94
                      name: OKX
      parameters:
      - name: id
        description: Unique Paxos identifier of the VASP to retrieve.
        in: path
        required: true
        schema:
          type: string
      tags:
      - TravelRulePublic
      security:
      - OAuth2: []
components:
  schemas:
    GetVaspResponse:
      type: object
      properties:
        vasp:
          $ref: '#/components/schemas/Vasp'
    Vasp:
      type: object
      properties:
        id:
          type: string
          description: Unique Paxos identifier for the VASP. Use this value as the `vasp.id` when saving travel-rule metadata on a Crypto Destination Address.
        name:
          type: string
          description: Display name of the VASP.
      required:
      - id
      - name
    ListVaspsResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Vasp'
          description: The VASPs matching the request, ordered by name (ascending by default).
        next_page_cursor:
          type: string
          description: Cursor for the next page of results, or empty when there are no more results.
  securitySchemes:
    OAuth2:
      type: oauth2
      description: 'Paxos APIs use [OAuth 2](https://tools.ietf.org/html/rfc6749) with the [client credentials](https://tools.ietf.org/html/rfc6749#section-4.4) grant flow.


        **Token URLs:**

        - Production: https://oauth.paxos.com/oauth2/token

        - Sandbox: https://oauth.sandbox.paxos.com/oauth2/token


        Learn more in the [API credentials guide →](https://docs.paxos.com/developer/credentials)

        '
      flows:
        clientCredentials:
          tokenUrl: https://oauth.paxos.com/oauth2/token
          scopes:
            conversion:read_conversion_stablecoin: Retrieve stablecoin conversion details
            conversion:write_conversion_stablecoin: Create or cancel a stablecoin conversion
            exchange:historical_prices: Retrieve marketnaverage prices at a certain time increment
            exchange:read_order: Retrieve order or order execution details
            exchange:read_quote: Retrieve quote details for buying or selling an asset
            exchange:read_quote_execution: Retrieve quote execution details
            exchange:write_quote_execution: Create a quote execution for buying or selling an asset
            exchange:write_order: Create or cancel an order for buying or selling an asset
            fee:write_crypto_withdrawal_fee: Create a guaranteed fee for crypto withdrawal
            funding:read_bank_balance: Retrieve Paxos dedicated bank account balance
            funding:read_profile: Retrieve Profile details and deposit funds in Sandbox
            funding:write_profile: Create a Profile
            identity:read_account: Retrieve Account details
            identity:read_identity: Retrieve Identity details or documents
            identity:write_account: Create or update Account and Account Members
            identity:write_identity: Create or update Identity details and set Sandbox Identify Status
            settlement:read_transaction: Retrieve settlement transaction details
            settlement:write_transaction: Create, affirm or cancel a settlement transaction
            tax:read_tax_form: Retrieve tax details
            tax:read_tax_lot: Retrieve tax lot details
            tax:write_tax_lot: Update the given tax-lot ID
            transfer:read_deposit_address: Retrieve deposit address details
            transfer:read_fiat_account: Retrieve Fiat Account details
            transfer:read_fiat_deposit_instructions: Retrieve fiat deposit instruction details
            transfer:read_transfer: Retrieve transfer details
            transfer:read_transfer_limit: Retrieve limits for the given transaction type
            transfer:reject_crypto_deposit: Reject a crypto deposit (travel rule)
            transfer:update_crypto_deposit: Provide required travel-rule details
            transfer:write_crypto_withdrawal: Withdraw asset to a specified destination address
            transfer:write_deposit_address: Create an deposit address on a blockchain network
            transfer:write_fiat_account: Create, update or delete a Fiat Account
            transfer:write_fiat_deposit_instructions: Create, update or delete fiat deposit instructions
            transfer:write_internal_transfer: Transfer assets between two Profiles
            transfer:write_sandbox_fiat_deposit: Initiate a test fiat deposit in the Sandbox environment
            transfer:write_fiat_withdrawal: Withdraw fiat to the given destination
            events:read_event: Retrieve events
x-tagGroups:
- name: Deposits and Withdrawals
  tags:
  - Transfers
  - Fiat Transfers
  - Deposit Addresses
  - Crypto Deposits
  - Crypto Withdrawals
  - Fees
  - Internal Transfers
  - Paxos Transfers
  - Limits
- name: Identity
  tags:
  - Identity
  - Institution Members
  - Accounts
  - Account Members
  - Identity Documents
- name: API Credentials
  tags:
  - API Credentials
- name: Profiles
  tags:
  - Profiles
- name: Sandbox
  tags:
  - Sandbox Deposits
  - Sandbox Identity
  - Sandbox Fiat Transfers
- name: Settlements
  tags:
  - Settlement
- name: Stablecoin Conversion
  tags:
  - Stablecoin Conversion
- name: Taxes
  tags:
  - Tax Forms
- name: Trading
  tags:
  - Market Data
  - Orders
  - Quotes
  - Quote Executions
  - Pricing
  - Issuer Quotes
- name: Rewards
  tags:
  - Monitoring Addresses
  - Statements
  - Payments
- name: Rewards (Alpha)
  tags:
  - Reward Addresses
  - Claims
  - Payout Groups
  - Rewards
- name: Events
  tags:
  - Events
  - Event Types
  - Event Objects
