openapi: 3.0.0
info:
  title: Paxos Account Members Sandbox Identity API
  version: '2.0'
  description: '<p>Welcome to Paxos APIs. At Paxos, our mission is to enable the movement of any asset, any time, in a trustworthy way. These APIs serve that mission by making it easier than ever for you to directly integrate our product capabilities into your application, leveraging the speed, stability, and security of the Paxos platform.</p> <p>The documentation that follows gives you access to our Crypto Brokerage, Trading, and Exchange products. It includes APIs for market data, orders, and the held rate quote flow.</p> <p>To test in our sandbox environment, <a href="https://account.sandbox.paxos.com" target="_blank">sign up</a> for an account. For more information about Paxos and our APIs, visit <a href="https://www.paxos.com/" target="_blank">Paxos.com</a>.</p>

    '
  x-logo:
    url: /docs/paxos.svg
    backgroundColor: '#FFFFFF'
    altText: Paxos logo
servers:
- url: https://api.paxos.com/v2
  description: Production
- url: https://api.sandbox.paxos.com/v2
  description: Sandbox
tags:
- name: Sandbox Identity
paths:
  /identity/identities/{identity_id}/kyc-refresh:
    post:
      summary: Sandbox Start KYC Refresh
      description: 'Starts a KYC refresh workflow for the given Identity. The Identity must belong to the

        authenticated customer and be eligible for a refresh. Sandbox only.'
      operationId: SandboxStartKycRefresh
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SandboxStartKycRefreshResponse'
      parameters:
      - name: identity_id
        in: path
        required: true
        schema:
          type: string
      tags:
      - Sandbox Identity
      security:
      - OAuth2:
        - identity:write_identity
  /identity/identities/{id}/sandbox-status:
    put:
      summary: Sandbox Set Identity Status
      description: 'Set the various statuses for the given Identity. To enable the Person Identity to transact,

        set both `id_verification_status` and `sanctions_verification_status` to `"APPROVED"`.

        To enable the Institution to transact, set both `sanctions_verification_status` to `"APPROVED"`.

        This endpoint also allows you to set the statuses for `document_verification_status` and

        `additional_screening_status`'
      operationId: SandboxSetIdentityStatus
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SandboxSetIdentityResponse'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IdentitySandboxSandboxSetIdentityStatusBody'
        required: true
      tags:
      - Sandbox Identity
      security:
      - OAuth2:
        - identity:write_identity
  /identity/kycrefresh/force-start:
    post:
      summary: Sandbox Force Start KYC Refresh
      description: 'Force-starts a KYC refresh workflow (bypassing eligibility checks) for the given

        Identity, which must belong to the authenticated customer. Sandbox only.'
      operationId: SandboxForceStartKycRefresh
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SandboxForceStartKycRefreshResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SandboxForceStartKycRefreshRequest'
        required: true
      tags:
      - Sandbox Identity
      security:
      - OAuth2:
        - identity:write_identity
  /identity/kycrefresh/reset:
    post:
      summary: Sandbox Reset KYC Refresh
      description: 'Resets the KYC refresh state for the given Identity, which must belong to the

        authenticated customer. Sandbox only.'
      operationId: SandboxResetKycRefresh
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SandboxResetKycRefreshResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SandboxResetKycRefreshRequest'
        required: true
      tags:
      - Sandbox Identity
      security:
      - OAuth2:
        - identity:write_identity
components:
  schemas:
    IdentitySandboxSandboxSetIdentityStatusBody:
      type: object
      example:
        id: f190b163-208f-4d73-8deb-4fb8b24add00
        id_verification_status: APPROVED
        sanctions_verification_status: APPROVED
      properties:
        id_verification_status:
          $ref: '#/components/schemas/IdentityStatus'
        sanctions_verification_status:
          $ref: '#/components/schemas/IdentityStatus'
        user_disabled:
          $ref: '#/components/schemas/SetDisable'
        admin_disabled:
          $ref: '#/components/schemas/SetDisable'
        document_verification_status:
          $ref: '#/components/schemas/IdentityStatus'
        additional_screening_status:
          $ref: '#/components/schemas/IdentityStatus'
      title: SandboxSetIdentityStatusRequest
    SandboxForceStartKycRefreshRequest:
      type: object
      properties:
        identity_id:
          type: string
          maxLength: 64
          minLength: 6
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9-.]{4,62}[a-zA-Z0-9]$
        expiry_days:
          type: integer
          format: int32
          description: Number of days until the forced KYC refresh expires. Must be between 1 and 90.
          maximum: 90
          minimum: 1
      title: SandboxForceStartKycRefreshRequest
      required:
      - identity_id
      - expiry_days
    SandboxResetKycRefreshResponse:
      type: object
    SandboxStartKycRefreshResponse:
      type: object
    SetDisable:
      type: object
      properties:
        disabled:
          type: boolean
    SandboxResetKycRefreshRequest:
      type: object
      properties:
        identity_id:
          type: string
          maxLength: 64
          minLength: 6
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9-.]{4,62}[a-zA-Z0-9]$
      title: SandboxResetKycRefreshRequest
      required:
      - identity_id
    SandboxForceStartKycRefreshResponse:
      type: object
    SandboxSetIdentityResponse:
      type: object
    IdentityStatus:
      type: string
      enum:
      - PENDING
      - ERROR
      - APPROVED
      - DENIED
      - DISABLED
      title: ''
  securitySchemes:
    OAuth2:
      type: oauth2
      description: 'Paxos APIs use [OAuth 2](https://tools.ietf.org/html/rfc6749) with the [client credentials](https://tools.ietf.org/html/rfc6749#section-4.4) grant flow.


        **Token URLs:**

        - Production: https://oauth.paxos.com/oauth2/token

        - Sandbox: https://oauth.sandbox.paxos.com/oauth2/token


        Learn more in the [API credentials guide →](https://docs.paxos.com/developer/credentials)

        '
      flows:
        clientCredentials:
          tokenUrl: https://oauth.paxos.com/oauth2/token
          scopes:
            conversion:read_conversion_stablecoin: Retrieve stablecoin conversion details
            conversion:write_conversion_stablecoin: Create or cancel a stablecoin conversion
            exchange:historical_prices: Retrieve marketnaverage prices at a certain time increment
            exchange:read_order: Retrieve order or order execution details
            exchange:read_quote: Retrieve quote details for buying or selling an asset
            exchange:read_quote_execution: Retrieve quote execution details
            exchange:write_quote_execution: Create a quote execution for buying or selling an asset
            exchange:write_order: Create or cancel an order for buying or selling an asset
            fee:write_crypto_withdrawal_fee: Create a guaranteed fee for crypto withdrawal
            funding:read_bank_balance: Retrieve Paxos dedicated bank account balance
            funding:read_profile: Retrieve Profile details and deposit funds in Sandbox
            funding:write_profile: Create a Profile
            identity:read_account: Retrieve Account details
            identity:read_identity: Retrieve Identity details or documents
            identity:write_account: Create or update Account and Account Members
            identity:write_identity: Create or update Identity details and set Sandbox Identify Status
            settlement:read_transaction: Retrieve settlement transaction details
            settlement:write_transaction: Create, affirm or cancel a settlement transaction
            tax:read_tax_form: Retrieve tax details
            tax:read_tax_lot: Retrieve tax lot details
            tax:write_tax_lot: Update the given tax-lot ID
            transfer:read_deposit_address: Retrieve deposit address details
            transfer:read_fiat_account: Retrieve Fiat Account details
            transfer:read_fiat_deposit_instructions: Retrieve fiat deposit instruction details
            transfer:read_transfer: Retrieve transfer details
            transfer:read_transfer_limit: Retrieve limits for the given transaction type
            transfer:reject_crypto_deposit: Reject a crypto deposit (travel rule)
            transfer:update_crypto_deposit: Provide required travel-rule details
            transfer:write_crypto_withdrawal: Withdraw asset to a specified destination address
            transfer:write_deposit_address: Create an deposit address on a blockchain network
            transfer:write_fiat_account: Create, update or delete a Fiat Account
            transfer:write_fiat_deposit_instructions: Create, update or delete fiat deposit instructions
            transfer:write_internal_transfer: Transfer assets between two Profiles
            transfer:write_sandbox_fiat_deposit: Initiate a test fiat deposit in the Sandbox environment
            transfer:write_fiat_withdrawal: Withdraw fiat to the given destination
            events:read_event: Retrieve events
x-tagGroups:
- name: Deposits and Withdrawals
  tags:
  - Transfers
  - Fiat Transfers
  - Deposit Addresses
  - Crypto Deposits
  - Crypto Withdrawals
  - Fees
  - Internal Transfers
  - Paxos Transfers
  - Limits
- name: Identity
  tags:
  - Identity
  - Institution Members
  - Accounts
  - Account Members
  - Identity Documents
- name: API Credentials
  tags:
  - API Credentials
- name: Profiles
  tags:
  - Profiles
- name: Sandbox
  tags:
  - Sandbox Deposits
  - Sandbox Identity
  - Sandbox Fiat Transfers
- name: Settlements
  tags:
  - Settlement
- name: Stablecoin Conversion
  tags:
  - Stablecoin Conversion
- name: Taxes
  tags:
  - Tax Forms
- name: Trading
  tags:
  - Market Data
  - Orders
  - Quotes
  - Quote Executions
  - Pricing
  - Issuer Quotes
- name: Rewards
  tags:
  - Monitoring Addresses
  - Statements
  - Payments
- name: Rewards (Alpha)
  tags:
  - Reward Addresses
  - Claims
  - Payout Groups
  - Rewards
- name: Events
  tags:
  - Events
  - Event Types
  - Event Objects
